-# frozen_string_literal: true
= simple_form_for(@work) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :category
    = f.input :name
    .cover-image
      - if @work.image.attached?
        = image_tag @work.thumbnail
      %h2= f.label 'Cover image'
      = f.file_field :image
    .work-images
      .image
        - if @work.images
          - @work.images.each do |image|
            = image_tag image.variant(resize: '100x').processed.processed

      %h2= f.label 'Work images'
      = f.file_field :images, multiple: true, direct_upload: true

  .form-actions
    = f.button :submit, class: 'btn btn-success'
