%p#notice= notice


= render partial: 'shared/header', locals: { object_name: @work.category }

.work-container
  - if user_signed_in?
    = link_to 'Edit this work', edit_work_path(@work)
  %h3= @work.name
  - if @work.images.attached?
    - @work.images.each do |image|
      = image_tag(image)
