*
  box-sizing: border-box

html, body
  font-family: Arial
  font-size: 16px
  margin: 0
  height: 100%
  .wrap-content
    display: flex
    flex-direction: column
    min-height: 100%
  .content
    flex: 1 0 auto
    margin-top: 25px
h1,h2,h3,h4,h5,h6,a,p,ul,li
  margin: 0
  padding: 0
// ul, li
//   list-style-type: none
a
  text-decoration: none
  outline: none
  color: #333
button,
input[type="submit"],
textarea,
input
  outline: none

*,
*:before,
*:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  font-size: 16px
  padding: 0
  margin: 0

ul, li, a
  text-decoration: none
  list-style-type: none
