.container
  .categories-container
    padding-top: 20px
    display: grid
    grid-template-columns: repeat(auto-fill, 300px)
    grid-gap: 2rem
    justify-content: space-around
  .category-container, .work-container
    +dfc
    h4
      font-size: 1rem
      padding-top: 10px
      padding-left: 10px
    img
      width: 100%
      box-shadow: 0 0 10px rgba(0,0,0,0.5)
  .header
    .links
      +df
      padding-bottom: 20px
      h1, h2
        font-size: 1rem
        a
          font-size: 1rem
    .span
      padding: 0 2px
      line-height: 1
      font-size: 1.2rem
    h3
      font-size: 1.3rem
      // padding-left: 8px
