.work-container
  h3
    font-size: 1.3rem!important
    margin-bottom: 20px
    padding-left: 10px
  img
    margin-bottom: 20px
.cover-image
  +dfc
  width: 300px
  h2
    color: red

.work-images
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5)
  margin: 10px 0
  padding: 20px
  +dfc
  .image
    +df

