.header
  .links
    %h1= link_to 'Home', root_path
    - if object_name.parent.present?
      .span
        \/
      %h2= link_to object_name.parent.name, object_name.parent
  - unless controller_name == 'works'
    %h3= object_name.name
    = link_to 'Edit', edit_category_path(object_name) if user_signed_in?
