.header
  - if user_signed_in?
    %ul
      %li= link_to 'Home', root_path
      %li= link_to 'Add category', new_category_path
      %li= link_to 'Add work', new_work_path
      %li= link_to 'Sign out', destroy_user_session_path, method: :delete
  - else
    -# %ul
    -#   %li= link_to 'Home', root_path
    -#   %li= link_to 'Sign in', new_user_session_path
