.categories-container
  - categories.each do |child|
    = link_to child do
      .category-container
        - if child.image.attached?
          = image_tag(child.thumbnail)
        %h4= child.name
