-# frozen_string_literal: true
= simple_form_for(@category) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :parent_id, collection: Category.all, include: :blank
    = f.input :name
    - if @category.image.attached?
      = image_tag @category.thumbnail
      -# = link_to 'Delete image', destroy_img_category_path(@category), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
    = f.file_field :image

  .form-actions
    = f.button :submit, class: "btn-success"
