%h1 Editing category

= render 'form'
%ul
  %li= link_to 'Show', @category, class: "btn btn-primary"
  %li= link_to 'Delete category', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
