= render partial: 'shared/header', locals: { object_name: @category }

- if @category.children?
  = render partial: 'children_category', locals: { categories: @category.children }

- if @category.works.present? && !@category.children?
  .categories-container
    - @category.works.each do |work|
      = link_to work do
        .category-container
          - if work.image.attached?
            = image_tag(work.thumbnail)
          = work.name
